$green: #3c9700 !default;
$orange: #ff8800;
$light-gray: #cccccc;
$background-gray: #eee;

$greenG3: #66b100 !default;
$greenG1: #338800 !default;
$greenG2: #56a100 !default;

$grayG3: #e6e6e6 !default;
$grayG2: #CCCCCC !default;
$grayG1: #AAA !default;

$orangeG1: #dd7700 !default;
$orangeG2: #ff8800 !default;
$orangeG3: #fd8600 !default;